<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Общий шаблон -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Основной логгер -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Твой проект (если хочешь видеть логи только своего пакета — можно настроить) -->
    <logger name="homework_1" level="DEBUG"/>

    <!-- Hibernate SQL, если используешь -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

</configuration>